.DS_Store
_build/
src/CC01.md
src/CC01_2023.md
src/CC01_2024.md
src/CC02.md
src/CC02_2023.md
src/CC02_bis.md
src/SESS2.md
src/SESS2_2023.md
src/SESS2_2025.md
corrections/CC2.py
assets/*.aux
assets/*.fls
assets/*.log
assets/*.fdb_latexmk
